<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Điện thoại smartphone chính hãng Giá rẻ</title>
    <link rel="shortcut icon" href="img/icon.png" />

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/w3.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/fontawesome-free/css/all.min.css"
    />

    <!-- js -->
  </head>
  <body id="page-top">
    <div>
      <div class="topbar">
        <div class="left">
          <div class="intopbar">
            <a
              href="https://www.facebook.com/duchuan28"
              target="_blank"
              class="topbarlink"
              >Tải ứng dụng</a
            >
            &nbsp
            <span class="socdoc">|</span>
            &nbsp
            <k>Kết nối</k> &nbsp
            <a
              href="https://www.facebook.com/duchuan28"
              target="_blank"
              class="topbarlink"
            >
              <i class="fab fa-facebook"></i>
            </a>
            &nbsp
            <a
              href="https://www.instagram.com/duchuan28/"
              target="_blank"
              class="topbarlink"
            >
              <i class="fab fa-instagram"></i>
            </a>
          </div>
          <div>
            <div class="leftchild">
              <img src="img/case.png" height="65px" width="130px" />
            </div>
            <div class="rightchild">
              <div class="inputpadding">
                <input
                  type="text"
                  class="inputtext"
                  placeholder="Iphone 11 PRO Max"
                />
                <button type="button" class="buttonsearch">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <div>
                <a class="topbarlink" href=""
                  >xiaomi mi9t &nbsp samsung galaxy note 10 &nbsp iphone 11
                  &nbsp huawei mate 30 &nbsp oppo reno &nbsp vsmart live
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="righttopbar">
            <div>
              <a href="" class="topbarlink"
                ><i class="far fa-bell"></i>&nbsp Thông báo</a
              >
              &nbsp &nbsp
              <a href="" class="topbarlink"
                ><i class="far fa-question-circle"></i>&nbsp Trợ giúp</a
              >
            </div>
            <div
              style="text-align: right; float: left; width: 55%; font-size: 30px; padding: 28px 0px 10px;"
            >
              <i class="fas fa-shopping-cart"></i>
            </div>
            <div
              style="text-align: left; float: right; width: 45%; padding: 23px 0px 10px;"
            >
              <span id="tag">
                10
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div>
          <div class="leftcontent">
            <div class="w3-content w3-display-container">
              <img
                class="mySlides"
                src="img/4.png"
              />
              <img
                class="mySlides"
                src="img/3.png"
              />
              <img
                class="mySlides"
                src="img/2.png"
              />
              <img
                class="mySlides"
                src="img/1.png"
              />
              <div
                class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle"
                style="width:100%"
              >
                <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">
                  &#10094;
                </div>
                <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">
                  &#10095;
                </div>
                <span
                  class="w3-badge demo w3-border w3-transparent w3-hover-white"
                  onclick="currentDiv(1)"
                ></span>
                <span
                  class="w3-badge demo w3-border w3-transparent w3-hover-white"
                  onclick="currentDiv(2)"
                ></span>
                <span
                  class="w3-badge demo w3-border w3-transparent w3-hover-white"
                  onclick="currentDiv(3)"
                ></span>
                <span
                  class="w3-badge demo w3-border w3-transparent w3-hover-white"
                  onclick="currentDiv(4)"
                ></span>
              </div>
            </div>
          </div>
          <div class="rightcontent">
            <div style="margin: 0 0 10px 0">
              <img
                src="img/right1.png"
                style="width: 100%; height: 70px; border: 1px solid rgb(214, 214, 214);
              border-radius: 5px;
              "
              />
            </div>
            <div>
              <img src="img/right2.png" style="width: 100%; height: 70px; border: 1px solid rgb(214, 214, 214);
              border-radius: 5px;" />
            </div>
          </div>
        </div>
        <div>
          <div class="imglinkspace">
            <a href="">
              <img class="imglink" src="img/iphone.jpg" />
            </a>
            <a href="">
              <img class="imglink" src="img/samsung.jpg" />
            </a>
            <a href="">
              <img class="imglink" src="img/huawei.jpg" />
            </a>
            <a href="">
              <img class="imglink" src="img/xiaomi.png" />
            </a>
            <a href="">
              <img class="imglink" src="img/oppo.jpg" />
            </a>
            <a href="">
              <img class="imglink" src="img/vivo.jpg" />
            </a>
          </div>
        </div>
        <div>
          <div style="float: left; width: 70%; margin: 1% 0 1% 0">
            <div>
              <chon>
                Chọn mức giá:
              </chon>
              &nbsp
              <a href="" class="contentlink">
                Dưới 50.000đ
              </a>
              &nbsp
              <a href="" class="contentlink">
                Từ 50.000đ - 200.000đ
              </a>
              &nbsp
              <a href="" class="contentlink">
                Từ 200.000đ - 500.000đ
              </a>
              &nbsp
              <a href="" class="contentlink">
                Trên 500.000đ
              </a>
            </div>
          </div>
          <div
            style="float: right; width: 30%; margin: 1% 0 1% 0; text-align: center"
          >
            <a href="#page-content" class="contentlink"> Giảm 20% </a>&nbsp

            <a href="" class="contentlink"> Giảm 30% </a>&nbsp

            <a href="" class="contentlink">
              Giảm 50%
            </a>
          </div>
        </div>
        <hr />
        <br />
        <div class="case-content" id="page-content">
          <div class="span-content">
            <span>
              <span class="olnb-content">
                ĐIỆN THOẠI NỔI BẬT
              </span>
              <span class="xtc-content">
                <a href="">
                  Xem tất cả >>
                </a>
              </span>
            </span>
          </div>
          <div class="ul-content">
            <ul style="border: 1px solid rgb(245, 245, 245);">
              <li class="link-content">
                <a href="">
                  <div>
                    <img src="img/anh1.png" height="100%" width="100%" />
                  </div>
                  <div class="text-item-cmt">
                    Điện thoại OPPO F11 viền hình giọt nước và camera sau khủng đến 48 MP.
                  </div>
                  <div class="price">
                    <span class="span-price">
                      50.000đ
                    </span>
                    <span class="span-price-cmt">
                      đã bán 10 sản phẩm
                    </span>
                  </div>
                </a>
                <div class="overlay">
                  <a href="https://www.google.com.vn/" target="_blank">
                    <div class="text-overlay">Xem thêm sản phẩm cùng loại</div>
                  </a>
                </div>
              </li>
              <li class="link-content">
                <a href="">
                  <div>
                    <img src="img/anh2.png" height="100%" width="100%" />
                  </div>
                  <div class="text-item-cmt">
                    Điện thoại OPPO F11 viền hình giọt nước và camera sau khủng đến 48 MP.
                  </div>
                  <div class="price">
                    <span class="span-price">
                      50.000đ
                    </span>
                    <span class="span-price-cmt">
                      đã bán 10 sản phẩm
                    </span>
                  </div>
                </a>
                <div class="overlay">
                  <a href="https://www.google.com.vn/" target="_blank">
                    <div class="text-overlay">Xem thêm sản phẩm cùng loại</div>
                  </a>
                </div>
              </li>
              <li class="link-content">
                <a href="">
                  <div>
                    <img src="img/anh3.png" height="100%" width="100%" />
                  </div>
                  <div class="text-item-cmt">
                    Điện thoại OPPO F11 viền hình giọt nước và camera sau khủng đến 48 MP.
                  </div>
                  <div class="price">
                    <span class="span-price">
                      50.000đ
                    </span>
                    <span class="span-price-cmt">
                      đã bán 10 sản phẩm
                    </span>
                  </div>
                </a>
                <div class="overlay">
                  <a href="https://www.google.com.vn/" target="_blank">
                    <div class="text-overlay">Xem thêm sản phẩm cùng loại</div>
                  </a>
                </div>
              </li>
              <li class="link-content">
                <a href="">
                  <div>
                    <img src="img/anh4.png" height="100%" width="100%" />
                  </div>
                  <div class="text-item-cmt">
                    Điện thoại OPPO F11 viền hình giọt nước và camera sau khủng đến 48 MP.
                  </div>
                  <div class="price">
                    <span class="span-price">
                      50.000đ
                    </span>
                    <span class="span-price-cmt">
                      đã bán 10 sản phẩm
                    </span>
                  </div>
                </a>
                <div class="overlay">
                  <a href="https://www.google.com.vn/" target="_blank">
                    <div class="text-overlay">Xem thêm sản phẩm cùng loại</div>
                  </a>
                </div>
              </li>
              <li class="link-content">
                <a href="">
                  <div>
                    <img src="img/anh5.png" height="100%" width="100%" />
                  </div>
                  <div class="text-item-cmt">
                    Điện thoại OPPO F11 viền hình giọt nước và camera sau khủng đến 48 MP.
                  </div>
                  <div class="price">
                    <span class="span-price">
                      50.000đ
                    </span>
                    <span class="span-price-cmt">
                      đã bán 10 sản phẩm
                    </span>
                  </div>
                </a>
                <div class="overlay">
                  <a href="https://www.google.com.vn/" target="_blank">
                    <div class="text-overlay">Xem thêm sản phẩm cùng loại</div>
                  </a>
                </div>
              </li>
              <li class="link-content">
                <a href="">
                  <div>
                    <img src="img/anh6.png" height="100%" width="100%" />
                  </div>
                  <div class="text-item-cmt">
                    Điện thoại OPPO F11 viền hình giọt nước và camera sau khủng đến 48 MP.
                  </div>
                  <div class="price">
                    <span class="span-price">
                      50.000đ
                    </span>
                    <span class="span-price-cmt">
                      đã bán 10 sản phẩm
                    </span>
                  </div>
                </a>
                <div class="overlay">
                  <a href="https://www.google.com.vn/" target="_blank">
                    <div class="text-overlay">Xem thêm sản phẩm cùng loại</div>
                  </a>
                </div>
              </li>
              <li class="link-content">
                <a href="">
                  <div>
                    <img src="img/anh7.png" height="100%" width="100%" />
                  </div>
                  <div class="text-item-cmt">
                    Điện thoại OPPO F11 viền hình giọt nước và camera sau khủng đến 48 MP.
                  </div>
                  <div class="price">
                    <span class="span-price">
                      50.000đ
                    </span>
                    <span class="span-price-cmt">
                      đã bán 10 sản phẩm
                    </span>
                  </div>
                </a>
                <div class="overlay">
                  <a href="https://www.google.com.vn/" target="_blank">
                    <div class="text-overlay">Xem thêm sản phẩm cùng loại</div>
                  </a>
                </div>
              </li>
              <li class="link-content">
                <a href="">
                  <div>
                    <img src="img/anh10.png" height="100%" width="100%" />
                  </div>
                  <div class="text-item-cmt">
                    Điện thoại OPPO F11 viền hình giọt nước và camera sau khủng đến 48 MP.
                  </div>
                  <div class="price">
                    <span class="span-price">
                      50.000đ
                    </span>
                    <span class="span-price-cmt">
                      đã bán 10 sản phẩm
                    </span>
                  </div>
                </a>
                <div class="overlay">
                  <a href="https://www.google.com.vn/" target="_blank">
                    <div class="text-overlay">Xem thêm sản phẩm cùng loại</div>
                  </a>
                </div>
              </li>
              <li class="link-content">
                <a href="">
                  <div>
                    <img src="img/anh11.png" height="100%" width="100%" />
                  </div>
                  <div class="text-item-cmt">
                    Điện thoại OPPO F11 viền hình giọt nước và camera sau khủng đến 48 MP.
                  </div>
                  <div class="price">
                    <span class="span-price">
                      50.000đ
                    </span>
                    <span class="span-price-cmt">
                      đã bán 10 sản phẩm
                    </span>
                  </div>
                </a>
                <div class="overlay">
                  <a href="https://www.google.com.vn/" target="_blank">
                    <div class="text-overlay">Xem thêm sản phẩm cùng loại</div>
                  </a>
                </div>
              </li>
              <li class="link-content">
                <a href="">
                  <div>
                    <img src="img/anh12.png" height="100%" width="100%" />
                  </div>
                  <div class="text-item-cmt">
                    Điện thoại OPPO F11 viền hình giọt nước và camera sau khủng đến 48 MP.
                  </div>
                  <div class="price">
                    <span class="span-price">
                      50.000đ
                    </span>
                    <span class="span-price-cmt">
                      đã bán 10 sản phẩm
                    </span>
                  </div>
                </a>
                <div class="overlay">
                  <a href="https://www.google.com.vn/" target="_blank">
                    <div class="text-overlay">Xem thêm sản phẩm cùng loại</div>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="fooster" id="page-bottom">
        <span class="span-fooster">
          &nbsp &nbsp &nbsp &nbsp © 2019. Smartshop cam kết chính hãng. GPDKKD:
          086658680 do sở KH & ĐT TP.HN cấp ngày 15/09/2019. Địa chỉ: Ngõ 3,
          Trần Quý Kiên, đường Cầu Giấy, phường Quan Hoa, quận Cầu Giấy, Tp.HN.
          Hotline: 1900xxxx. Email: smartshop@hanoi.com. <br />
          <p>
            Chịu trách nhiệm nội dung: Nhóm phát triển ứng dụng. Xem chính sách
            sử dụng web
          </p>
        </span>
        <div class="span-fooster">
          Liên hệ: &nbsp;
          <i class="fab fa-facebook i-fooster-facebook"></i> &nbsp;
          <i class="fab fa-twitter-square i-fooster-twitter"></i>
        </div>
      </div>

      <!-- action page  -->

      <a
        href="#page-top"
        style="position: fixed; width: 50px; height: 50px; bottom: 70px; right: 0px;"
      >
        <i class="fas fa-arrow-circle-up action-page"></i>
      </a>
      <a
        href="#page-content"
        style="position: fixed; width: 50px; height: 50px; bottom: 35px; right: 0px;"
      >
        <i class="far fa-dot-circle action-page"></i>
      </a>
      <a
        href="#page-bottom"
        style="position: fixed; width: 50px; height: 50px; bottom: 0px; right: 0px;"
      >
        <i class="fas fa-arrow-circle-down action-page"></i>
      </a>
    </div>

    <!-- script  -->
    <script>
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs((slideIndex += n));
      }

      function currentDiv(n) {
        showDivs((slideIndex = n));
      }

      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = x.length;
        }
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-white";
      }
      var slideIndex = 0;
      carousel();

      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) {
          slideIndex = 1;
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-white";
        setTimeout(carousel, 2000);
      }
    </script>
  </body>
</html>
